<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Index</title>
</head>

<body>
    Hello, <%= user.name %>

        <pre>
        firstName: <%= user.firstName%>
        lastName: <%= user.lastName%>
                jobTitle: <%= user.jobTitle%>
                        mail: <%= user.mail%>
                                location: <%= user.location%>
                                        id: <%= user.id%>
    </pre>
</body>

</html>